ul,li,h1,h2,h3,p{ 
    padding:0; 
    margin:0; 
    list-style:none
}
a{ 
    text-decoration:none; 
    color:#000
}
img{ 
    max-width:100%
}
body{ 
    margin:0; 
    line-height:21px
}
.logo{ 
    text-align:center; 
    padding-bottom:10px;
}
.logo img{ 
    width:130px
}
.logo h1{
    font-size:16px; 
    margin:50px 0;
    float:left

}
.clear{ 
    clear:both
}
.menu li{ 
    list-style:none
}
.banner{ 
    position:relative;
}
.menu{ 
    background:#52d8ab;
    box-shadow: 0px 0px 12px #ccc; 
    width:100%; 
    text-align:center;
}
.menu li a{ 
    color:#fff;  
    font-size:16px; 
    font-weight:bold
}
.menu li { 
    display:inline-block; 
    margin:2px; 
    padding:5px 60px ; 
}
.content{ 
    margin:0 auto; 
    width:1200px; 
    padding-bottom:20px;
    font-size:14px;
}
.end{ 
    clear:both; 
    background:#35dbb2; 
    margin-top:40px; 
    color:#fff; 
    padding:20px 0; 
    text-align:center;
}
.pad{ 
    padding:20px; 
    display:block
}
.scrollleft,.cc{ 
    margin:0 10px
}
.scrollleft li img{ 
    width:100%
}
.scrollleft li{
    box-shadow: 0px 0px 12px #ccc; 
    width:21%; 
    font-size:16px; 
    margin:10px 1%; 
    float:left; 
    background:#e8e9d4; 
    padding:1%; 
    height:340px;
}
.scrollleft li h2{ 
    color:#FF6666; 
    margin-top:10px;
}
.cc li{ 
    width:306px; 
    margin:10px; 
    float:left
}
.cc li img{ 
    width:100%; 
    height:200px;
}
.fl{ 
    float:left
}
.cs{ 
    background:#e8e9d4; 
    padding:10px;
}
.bar{ 
    margin:10px 20px;
    clear:both; 
    text-align:center; 
    padding:5px;
}
.bar:before{ 
    content:''; 
    vertical-align:middle; 
    background:url(../images/left.png) no-repeat; 
    width:40px; 
    height:40px; 
    background-size:100% auto;  
    display:inline-block;
    position:relative;
}
.bar:after{ 
    content:''; 
    vertical-align:middle; 
    display:inline-block; 
    background:url(../images/left.png) no-repeat; 
    width:40px; height:40px; 
    background-size:100% auto; 
    position:relative;
}
.bar h2{ 
    display:inline-block; 
    font-weight:normal; 
    color:#FF6666; 
    font-size:24px; 
    margin:0 10px; 
    position:relative; 
    top:2px;
}
.more{ 
    background:#fff; 
    color:#FF3333; 
    display:inline-block; 
    margin-top:50px; 
    border:#FF3333 solid 1px; 
    padding:10px 40px;
}
.more:hover{ 
    background:#FF3333; 
    color:#fff;
}
.hei{ 
    height:30px
}
.a1{ 
    width:28%; 
    float:left;
}
.a2{ 
    width:68%; 
    float:right;
}
.a2 p{ 
    font-size:16px; 
    margin:5px 0;
}
.a2 h1{ 
    font-weight:normal; 
    line-height:40px; 
    font-size:21px;
}
.a1 img{ 
    border:#ccc solid 1px;
}
.feedback  li{ 
    margin:20px 0; 
    font-size:18px; 
    line-height:40px;
}
.feedback{ 
    width:460px; 
    margin:40px auto;
}
.feedback input,.feedback select {
    width:100%; 
    background:#eee; 
    border:1px solid #ccc; 
    line-height:40px; 
    height:40px; 
    font-size:16px; 
}
.feedback button { 
    background:#35dbb2; 
    width:100%; 
    height:50px; 
    margin-top:20px; 
    line-height:50px; 
    color:#fff; 
    border:1px solid #35dbb2; 
    font-size:18px;  
}
